<div class="container-flex mt-5 bg-success p-3" >
    <div class="row">
        <!-- <div class="col-md-4">
            <ul>
                <li> Lorem ipsum dolor sit amet. </li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </div> -->
        <div class="col-md-4">
            <ul>
                <li> 
                    Help Center 
                </li>
                <li>  Video Tutorials</li>
                <li>Help Forum</li>
              
              

            </ul>
        </div>
        <div class="col-md-4">
       
            <h1>Contact Me</h1>
            <input type="email mb-4">
            <br>
            <textarea name="textarea" id="" placeholder="Enter Your message"></textarea>
            
        </div>
    </div>
</div>