<!-- <div>
    <div class="container">
      <form (ngSubmit)="edit()">
          <div class="mb-3">
            <label for="id" class="form-label"> Id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id">
          </div>
  
          <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
            </div>
  
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
            </div>
    
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="text" class="form-control" id="role" name="Password" [(ngModel)]="password">
              </div>
  
            <div class="mb-3">
                <label for="role" class="form-label">Password</label>
                <input type="text" class="form-control" id="role" name="role" [(ngModel)]="role">
              </div>
  
            <div class="mb-3">
                <label for="image" class="form-label">Password</label>
                <input type="text" class="form-control" id="image" name="image" [(ngModel)]="image">
              </div>
  
          <button type="submit" class="btn btn-primary">update</button>
        </form>
  </div>
  </div> -->

<p>{{data|json}}</p>