
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" >
      <div style="padding-right: 20px;">   <img src="assets/image/health-icon.png" alt=""><p></p></div>
      

      <a class="navbar-brand"  routerLink="/" >Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="appointment 1.php">Book An Appointment</a>
          </li>
        
                    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SignUp
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">SignUp as Doctor</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" routerLink="/signup">SignUp as Patient</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Log In
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">LogIn as Doctor</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#">LogIn as Patient</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" routerLink="/login">LogIn as Admin</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Doctors Here!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          

        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit" routerLink="/signup">SignUp</button>

          <button class="btn btn-outline-success" type="submit" routerLink="/login">LogIn </button>
        </form>
      </div>
    </div>
  </nav>
  

  






  

  