<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()" class="bars-button">
      <i class="fa-solid fa-bars"></i>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>Nespaper Gest</h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <span fxShow fxHide.xs>
         <i class="toolbar-icon fa-solid fa-ellipsis-vertical"></i>
      </span>
    </button>

    <mat-menu
      #userMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false"
    >
      <a mat-menu-item [routerLink]="['/account/profile']" [disabled]="true">
        <span>Meu perfil</span>
      </a>

      <a mat-menu-item (click)="logout()">
        <span>Terminar sessão</span>
      </a>

    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">

    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="!mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav"
    >
      <mat-nav-list>
        <h3 mat-subheader>Home</h3>

        <a mat-list-item [routerLink]="['/artigos']" routerLinkActive="active">
            <p class="slider-item"> <i class="fa-solid fa-file link-icon"  ></i>Artigos</p>
         </a>

        <a mat-list-item [routerLink]="['/magazines']" routerLinkActive="active">
          <p class="slider-item"> <i class="fa-solid fa-newspaper link-icon"></i>Magazines</p>
        </a>


        <a mat-list-item  routerLinkActive="active" [mat-menu-trigger-for]="employeesMenu"
        [disabled]="canAccessEmployess()">
          <p class="slider-item">
            <i class="fa-solid fa-briefcase"
            [ngClass]=" {'link-icon': !canAccessEmployess()} "
            ></i>Empregados</p>
        </a>

      <mat-menu
        #employeesMenu="matMenu"
        xPosition="before"
        yPosition="below"
        [overlapTrigger]="false"
      >
        <a mat-menu-item [routerLink]="['/empregados/jornalistas']" >
          <span>jornalistas</span>
        </a>

        <a mat-menu-item [routerLink]="['/empregados/administradores']">
          <span>Administradores</span>
        </a>

      </mat-menu>

      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate"  *ngIf="spinnerService.processing | async">
        </mat-progress-bar>
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
