



<div class="container text-center">
  <div class="row">
    <div class="col-4">
     <app-success></app-success>
    </div>
    <div class="col-8">
      <div class="container">
        <form (ngSubmit)="scearchbyid()">
            <div class="mb-3">
              <label for="id" class="form-label"><h1>Search a patient by ID</h1></label>
              <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id"> 
            </div>
            
            <button type="submit"  class="btn btn-primary">Submit</button>
          </form>
    </div>
    
    <div>
      <div class="container">
        <form (ngSubmit)="update()">
            <div class="mb-3">
              <label for="emp_id" class="form-label"> Id</label>
              <input type="text" class="form-control" id="emp_id" name="emp_id" [(ngModel)]="emp_id">
            </div>
    
            <div class="mb-3">
                <label for="emp_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="emp_name" name="emp_name" [(ngModel)]="emp_name">
              </div>
    
              <div class="mb-3">
                <label for="emp_email" class="form-label">Email</label>
                <input type="text" class="form-control" id="emp_email" name="emp_email" [(ngModel)]="emp_email">
              </div>
      
              <div class="mb-3">
                  <label for="emp_password" class="form-label">Password</label>
                  <input type="text" class="form-control" id="emp_password" name="emp_password" [(ngModel)]="emp_password">
                </div>
    
            <button type="submit" class="btn btn-primary">update</button>
          </form>
    </div>
    </div>
  </div>

</div>



{{updatebyid | json}}